Repository RetroMusicPlayer/Paisa, pull requests merged in 2023-03, with the labels that each got.

#118 Add Argentine Peso and Israeli Shekel
  lib/src/data/currencies/models/currency_model.dart
Labels: currency

#167 Add CZK currency
  lib/src/data/currencies/models/currency_model.dart
Labels: currency

#161 Show selected dynamic color.
  lib/src/presentation/settings/widgets/settings_color_picker_widget.dart
Labels: enhancement

#158 Added a alert dialog when trying to delete a debt/credit.
  lib/localization/app_en.arb
  lib/localization/app_fr.arb
  lib/src/presentation/debits/pages/add/add_debt_page.dart
Labels: language
